
body {
	background-color:rgba(0,0,0,0.9);
}
	header {
	padding-top: 50px;
	padding-bottom: 50px;
}
h1{
	font-size: 5em;
}
.btn {
	width:70%;
	margin:auto;
	transform: translate(0,0);
	transition:all .1s ease-in .1s;
}
.btn:hover {
	width:100%;
}

.btn:active {
	width:100%;
}