*{
	/*border:1px solid blue;*/
}
body {
	background-color: rgba(0,0,0,0.7);
	padding-top: 100px;
}
.working-area {
	background-color: black;
	padding-top: 10px;
}
h3 {
	margin-bottom: 40px;
}
.show-area {
	width:100%;
	height:70px;
	border: 5px solid grey;
	overflow: auto;
}
.row{
	padding-top:20px;
}
.working-area {
	border:10px solid grey;
	border-radius: 10px;
	padding-bottom: 20px;
}
.one, .two , .three{
	width:100%;
	margin:0px;
}
.zero-row {
	margin-top:20px;
}
.equal {
	height:88px;
}
.newrow  {
	margin:0;
	padding: 0;
}
