

*{
	color:lightgreen;
}
.bg-black {
	background-color: rgba(0,0,0,0.9);
	padding-top:100px;
	color:white;
	padding-bottom: 100px;
}
.timer {
	
}

input {
	border:none;

}
i {
	opacity:0.9;
	color:lightblue;
}
i:hover {
	opacity:0.6;
}
h1 {
	font-size: 400%;
}
.display {
	font-size:900%;
}
.display:hover {
	color:rgba(220,220,220,0.5);
}
.display:active {
	color:white;
	opacity: 1;
}
.reset {
	background-color: rgba(0,0,0,0);
	color: rgba(200,0,0,0.9);
	outline:none;
	border:5px solid rgba(200,0,0,0.9);
	border-radius: 50px;
	margin-top: 30px;
	padding-bottom: 10px;
}
.reset:visited {
	background-color: rgba(0,0,0,0);
}
.reset:hover {
	background-color: rgba(0,0,0,0);
	opacity: 0.6;

}
.reset:active {
	background-color: rgba(0,0,0,0);
	color:white;
}
.whatdoing{

}
.doingwhat {
	color:lightblue;
	margin: 55px 0 0 0;
	float:right;
}
.breaking-time , .working-time {
	font-size: 32px;
	color:lightblue;
}
.breaking-time {}










